* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

:root {
  font-size: 100%;
}

body {
  background-color: #fafafa;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  color: hsl(180, 100%, 10%);
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  color: hsl(180, 50%, 16%);
}

h3 {
  font-size: 1.1rem;
  color: hsl(180, 50%, 24%);
}

p {
  margin: 1rem 0;
}
