x-examples {
  display: block;

  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
}

.hljs {
  padding: 0 !important;
}

article + article {
  margin-top: 3rem;
}

article .title {
  margin-bottom: 1rem;
}

article p {
  margin: 1rem 0;
}

pre,
code {
  margin: 0;
  padding: 0 !important;
}
